<div class="container container-formation">

    <div class="center presentation-formation">
        <h2>Formation professionnelle</h2>
        <p>Chef de projet multimédia - spécialité développement web</p>
        <p>Organisme de formation : OpenClassrooms</p>
        <p>Diplôme enregistré au RNCP, de niveau II reconnu par l’État (équivalent au niveau Bac+3/4) et est délivré par ECAD consultants - IESA multimédia</p>
        <a class="waves-effect waves-light btn red darken-1" href="https://openclassrooms.com/paths/chef-de-projet-multimedia-developpement" target="_blank">En savoir plus sur la formation</a>
    </div>
    <hr>

    <h4 class="center">6 projets professionnalisants réalisés</h4>
    <div class="carousel carousel-slider center z-depth-2" data-indicators="true">

        <div class="carousel-item blue-grey lighten-2 white-text carousel-projet" href="#one!">

            <h2>Site internet pour une mairie</h2>
            <p class="white-text">CMS WordPress</p>
            <img src="{{ asset('images/projet1.png') }}" alt="projet un" class="screen-projet">
            <div class="carousel-fixed-item center">
                <button data-target="modal1" class="btn white  blue-text text-darken-1 modal-trigger">En savoir plus</button>
            </div>
        </div>
        <div class="carousel-item blue-grey lighten-2 white-text carousel-projet" href="#two!">
            <h2>Projet de site internet pour le salon de l'oenologie de Bordeaux</h2>
            <p class="white-text">Réalisation complète de la gestion de projet</p>
            <img src="{{ asset('images/projet2.jpg') }}" alt="projet 2" class="screen-projet-deux">
            <div class="carousel-fixed-item center">
                <button data-target="modal2" class="btn white  blue-text text-darken-1 modal-trigger">En savoir plus</button>
            </div>
        </div>
        <div class="carousel-item blue-grey lighten-2 white-text carousel-projet" href="#three!">
            <h2>Site internet type "blog" pour un écrivain</h2>
            <p class="white-text">Symfony/PHP/MySql/JS/Jquery/Bootstrap/Git...</p>
            <p class="white-text">Gestion de projet partielle</p>
            <img src="{{ asset('images/projet3.png') }}" class="screen-projet" alt="projet 2">
            <div class="carousel-fixed-item center">
                <button data-target="modal3" class="btn white  blue-text text-darken-1 modal-trigger">En savoir plus</button>
            </div>
        </div>
        <div class="carousel-item blue-grey lighten-2 white-text carousel-projet" href="#four!">
            <h2>Plate-forme d'achat de billet pour le musée du Louvre</h2>
            <p class="white-text">Symfony/PHP/MySql/JS/Jquery/Bootstrap/Git...</p>
            <p class="white-text">Gestion de projet</p>
            <img src="{{ asset('images/projet4.png') }}" class="screen-projet" alt="projet 4">
            <div class="carousel-fixed-item center">
                <button data-target="modal4" class="btn white  blue-text text-darken-1 modal-trigger">En savoir plus</button>
            </div>
        </div>
        <div class="carousel-item blue-grey lighten-2 white-text carousel-projet" href="#five!">
            <h2>Projet de site internet pour le salon de l'oenologie de Bordeaux</h2>
            <p class="white-text">Symfony/PHP/MySql/JS/Jquery/Materialize/Git...</p>
            <p class="white-text">Gestion de projet complète / Travail en groupe</p>
            <img src="{{ asset('images/projet5.png') }}" class="screen-projet" alt="projet 5">
            <div class="carousel-fixed-item center">
                <button data-target="modal5" class="btn white  blue-text text-darken-1 modal-trigger">En savoir plus</button>
            </div>
        </div>
        <div class="carousel-item blue-grey lighten-2 white-text carousel-projet" href="#six!">
            <h2>Site internet pour une association de ma commune</h2>
            <p class="white-text">CMS WordPress</p>
            <p class="white-text">Gestion de projet partielle / Communication régulière avec la directrice de l'association</p>
            <img src="{{ asset('images/projet6.png') }}" class="screen-projet" alt="projet 6">
            <div class="carousel-fixed-item center">
                <button data-target="modal6" class="btn white  blue-text text-darken-1 modal-trigger">En savoir plus</button>
            </div>
        </div>
    </div>

    <!-- MODAL PROJET 1 -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4 class="blue-text text-darken-1 center">Création d'un site internet pour une mairie</h4>
            <div>
                <p>Le site internet permet à la mairie de promouvoir les activités qu'ell propose aux habitants de la commune tout au long de l'année, ainsi que de communiquer régulièrement sur son actualité.</p>
                <p>Contraintes du projet :</p>
                <ul class="contraintes">
                    <li>Trois types d'utilisateurs avec des permissions différentes</li>
                    <li>Une page actualité avec une pagination, affichage max de 10 articles</li>
                    <li>Une page avec la liste des activités proposées par la mairie, ainsi qu'un système de réservation de place</li>
                    <li>Une page permettant de communiquer sur les différents sites touristiques de la commune</li>
                    <li>La possibilité de contacter la mairie directement depuis le site</li>
                    <li>Fournir un guide utilisateur complet</li>
                </ul>
            </div>
            <hr>
            <p class="center"><a href="http://projet1.mes-siteweb-formation-oc.fr/" target="_blank" class="waves-effect waves-light btn red darken-1 z-depth-2">Voir le site internet</a></p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
    </div>

    <!-- MODAL PROJET 2 -->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <h4 class="blue-text text-darken-1 center">Réalisation complète de la partie gestion de projet pour la création d'un site internet du salon de l'oenologie de Bordeaux</h4>
            <div>
                <p>Documents à fournir :</p>
                <ul class="contraintes">
                    <li>Note de cadrage</li>
                    <li>Impact maping</li>
                    <li>Plan de charges</li>
                    <li>Devis et planning prévisionnel</li>
                    <li>Proposition commerciale</li>
                    <li>Planning de réalisation</li>
                    <li>Cahier des charges fonctionnel et technique</li>
                </ul>
                <p>Contraintes du projet :</p>
                <ul class="contraintes">
                    <li>Etablir des objectifs réalistes et réalisables</li>
                    <li>Site internet complet, réalisé en moins de 3 mois</li>
                    <li>Budget maxi : 20k €</li>
                    <li>Intégrer la liste des exposants et la carte du salon</li>
                    <li>Permettre une communication efficace sur l'événement</li>
                    <li>Inclure un système e-commerce pour l'achat de billet en ligne</li>
                </ul>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
    </div>
    </div>

    <!-- MODAL PROJET 3 -->
    <div id="modal3" class="modal">
        <div class="modal-content">
            <h4 class="blue-text text-darken-1 center">Création d'un site internet type "blog" pour un écrivain</h4>
            <div>
                <p>Un écrivain souhaitait publier périodiquement le roman qu'il est en train
                    d'écrire. N'aimant pas les CMS, il souhaitait un site fait de zéro et ayant une
                    zone d'administration simple et intuitive, avec uniquement les fonctionnalités
                    nécessaires.</p>
                <p>Contraintes du projet :</p>
                <ul class="contraintes">
                    <li>Interface back-end avec les éléments CRUD</li>
                    <li>Système de commentaires pour chaque publication, avec trois niveaux de
                        sous-réponses</li>
                    <li>Rédacation des billets avec une interface WYSIWYG</li>
                    <li>Système de modération des commentaires</li>
                </ul>
            </div>
            <hr>
            <p class="center"><a href="http://projetblog.mes-siteweb-formation-oc.fr/" target="_blank" class="waves-effect waves-light btn red darken-1 z-depth-2">Voir le site internet</a></p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
    </div>

    <!-- MODAL PROJET 4 -->
    <div id="modal4" class="modal">
        <div class="modal-content">
            <h4 class="blue-text text-darken-1 center">Création d'une plate-forme de réservation de billet pour le musée du Louvre</h4>
                <p>Le musée du Louvre souhaitait intégrer à son site internet une nouvelle plate-forme
                    de réservation de billet, utilisable sur tout support et qui permettra de
                    réduire les files d'attente devant le musée.</p>
                <p>Contraintes du projet :</p>
                <ul class="contraintes">
                    <li>Site internet responsive</li>
                    <li>Vérifications des données soumises via les formulaires</li>
                    <li>Deux types de billet (journée et demi-journée)</li>
                    <li>Dates de fermeture certains jours de l'année</li>
                    <li>Différents tarifs en fonction de l'âge du visiteur</li>
                    <li>Impossibilité de réserver un billet pour les jours où plus de 1000 billets ont
                        déjà été vendu
                    </li>
                    <li>Intégration du système de paiement Stripe</li>
                    <li>Génération d'un code unique par commande</li>
                    <li>Envoi d'un mail récapitulatif après l'achat, à imprimer et servant de
                        billet à l'entrée du musée</li>
                    <li>Réalisation de tests unitaires et fonctionnels</li>
                </ul>
            </div>
            <hr>
            <p class="center"><a href="http://projet4.mes-siteweb-formation-oc.fr/"
                                 target="_blank" class="waves-effect waves-light btn red darken-1 z-depth-2">Voir le site internet</a></p>

        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>

    </div>

    <!-- MODAL PROJET 5 -->
    <div id="modal5" class="modal">
        <div class="modal-content">
            <h4 class="blue-text text-darken-1 center">Création d'un site internet permettant la saisie et la visualisation d'observations ornithologiques</h4>
            <div>
                <p>Ce projet était à réaliser en groupe d'élèves, dans un cadre réaliste de
                    réalisation d'un projet de A à Z.</p>
                <p>Notre groupe : 3 développeurs web, 1 marketeur
                    web et un designer web. Des réunions entre membre du groupe, dont un prenait le
                    rôle du chef de projet, ont été organisés régulièrement afin de lancer le projet et
                    d'évaluer
                    son avancement.</p>
                <p>Tous les documents nécessaires à la réalisation du projet ont été réalisés : Note
                    de cadrage, benchmark, impact mapping, personas, plan de charge, proposition
                    commerciale et devis, cahier des charges fonctionnel et technique, charte
                    éditoriale et charte graphique, maquettes ...
                </p>
                <p>La répartitions des tâches entre développeurs c'est effectuées principalement
                    grâce aux issues de GitHub, ainsi qu'avec des réunions informelles régulières.</p>
                <p>Contraintes du projet :</p>
                <ul class="contraintes">
                    <li>Site internet optimisé pour l'utilisation sur petit support</li>
                    <li>Intégration et utilisation de la base de données Taxref (bdd des espèces
                        d'oiseaux observés en France. Plus de 3000 espèces)</li>
                    <li>Possibilité de saisir une observation, avec coordonées gps</li>
                    <li>Validation des observations par un groupe d'utilisateurs sépcifique
                        (naturaliste)</li>
                    <li>Visualisations des observations par espèce sur une carte interactive</li>
                    <li>Une zone d'adminstration permettant de gérer les utilisateurs et les
                        observations.</li>
                </ul>
                <p class="center plus-value">Plus-value apportée par notre groupe à ce projet</p>
                <ul class="contraintes">
                    <li>Protection des espèces protégées uniquement visible par les naturalistes et
                        l'administrateur
                    </li>
                    <li>Protection générale des oiseaux contre le braconnage et la chasse :
                        Marqueurs en forme de cercle sur la carte, zoom maximal faible, coordonées gps raccourcie à l'affichage ... pour les visiteurs non connectés ou les
                        simples utilisateurs</li>
                    <li>Géolocalisation intégrée pour la complétion des champs latitude et
                        longitude du formulaire de saisie d'une observation</li>
                    <li>Clic sur la carte pour ajouter les coordonnées gps dans le formulaire de
                        saisie d'une observation</li>
                    <li>Export des observations saisies au format excel pour faciliter l'étude du
                        comportement des oiseaux</li>
                    <li>Une newsletter régulière avec un accompagnement marketing pour sa rédaction</li>
                    <li>La possibilité de rédiger des actualités, ainsi que de les partager sur
                        Facebook</li>
                </ul>
            </div>
            <hr>
            <p class="center"><a href="https://nao.groupe23.ovh/"
                                 target="_blank" class="waves-effect waves-light btn red darken-1 z-depth-2">Voir le site internet</a></p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
    </div>

    <!-- MODAL PROJET 6 -->
    <div id="modal6" class="modal">
        <div class="modal-content">
            <h4 class="blue-text text-darken-1 center">Création d'un site internet pour l'association EITIA</h4>
            <div>
                <p>L'association EITIA organise tout au long de l'année des événements afin de
                    collecter des dons en faveur du Téléthon. l'association communiquait jusque là
                    uniquement
                    via un groupe Facebook.</p>
                <p>Grâce à tes entretiens réguliers avec la directrice de l'association, j'ai pu
                    cadrer ses attentes puis proposer un site internet simple d'utilisation et
                    permettant de communiquer efficacement autour des activités organisées mais
                    aussi sur les résultats obtenus.</p>
                <p>Contraintes du projet :</p>
                <ul class="contraintes">
                    <li>Association ayant un réel impact social</li>
                    <li>Code source ouvert et consultable par tous</li>
                </ul>
            </div>
            <hr>
            <p class="center"><a href="http://eitia-telethon-stjeandillac.fr/"
                                 target="_blank" class="waves-effect waves-light btn red darken-1 z-depth-2">Voir le site internet</a></p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="{{ asset('images/stuttgart-1598427_1920test.jpg') }}"></div>
</div>
